.form {
  margin: 10px;
  padding: 10px 15px;
  background-color: #ffffffd9;
  border-radius: 5px;
  box-shadow: 3px 3px 7px gray;
  position: relative;
  width: 80%;
  margin: 10px auto;
}

.form-footer {
  border-top: 1px solid lightgray;
  margin: 15px 10px;
  padding: 5px 0 0;
}

.form-sender {
  color: blue;
  font-size: 1.1em;
}

.form-date {
  float: right;
  color: gray;
  font-size: 0.7em;
  padding-top: 2px;
}

.form-message {
  margin: 10px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}
