body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.app {
  background-image: url("./farewell.jpeg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
